*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
:root{
    --fuente-logo: 'Montserrat Alternates';
    --fuente: 'Inter';
    --fuenteText: 'Roboto';
    --celesteTransparente: #4cbcec2f;
    --celeste: #4cbcec;
    --celesteHover: #3eacdb;
    --azul: #11405b;
    --azulHover: #0f374e;
    --blanco: #ededed;
    --blancoTransparente: #ffffff71;
    --blancoTotal: #ffffff;
    --negro: #333;
    --negroOscuro: #222;
    --grisOscuro: #444;
    --gris: #555;
    --grisClaro: #c5c5c5cb;
    --grisTransparente: #00000005;
    --rojoOscuro: #cc0000;
}
@media (max-width: 700px) {
    body header .logo{
        width: 60px;
        height: 60px;
        box-shadow: inset 0px 1px 7px #0000002a;
        display: flex;
        align-items: center;
        border-radius: 20px;
        justify-content: start;
        margin-left: -220px;
    }
    body section .circle{
        display: none;
    }
    body section header{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 8%;
        border-bottom: 1px solid var(--grisClaro);
    }
    body section header ul{
        display: none;
    }
    body section{
        height: auto;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    body section .content{
        position: relative;
        margin-top: 120px;
        display: block;
        height: auto;
    }
    body section .content .textBox{
        width: 90%;
        margin: 0;
        margin: auto;
        text-align: center;
        font-size: 16px;
        line-height: 28px;
    }
    body section .content .textBox h1{
        font-size: 36px;
        line-height: 40px;
    }
    body section .content .textBox .leerMas{
        display: none;
    }
    body section .content .textBox .cluster{
        display: block;
        justify-content: center;
        align-items: center;
        margin: auto;
    }
    body section .content .textBox .cluster .card{
        width: 80%;
        height: 55px;
        margin: auto;
        margin-top: 10px;
    }
    body section .content .box-product{
        display: grid;
        margin-top: 50px;
        justify-content: center;
    }
    body section .content .box-product .product{
        border: 1px solid var(--grisClaro);
    }
    body .boxDown{
        margin-top: 50px;
    }
    body .boxDown .textBox{
        grid-column: 1/6;
        margin: 0px 25px;
    }
    body .boxDown .textBox p{
        font-size: 16px;
        color: var(--gris);
        letter-spacing: .25px;
    }
    body .boxDown .textBox h2{
        font-size: 24px;
        line-height: 32px;
        font-weight: 600;
        width: 100%;
        margin: 0;
        font-family: var(--fuenteTexto);
    }
    body .boxDown .textBox h3{
        font-size: 20px;
        width: 90%;
        line-height: 26px;
        margin-left: 0px;
        color: var(--grisOscuro);
        margin-bottom: 10px;
        font-weight: 400;
    }
    body .boxDown .textBox ol li h4{
        font-size: 19px;
        width: 90%;
        line-height: 26px;
        color: var(--grisOscuro);
        margin: auto;
        margin-bottom: 15px;
        margin-top: 40px;
    }
    body .boxDown .textBox h5{
        font-size: 18px;
        margin-top: 22px;
        line-height: 22px;
        color: var(--gris);
        font-weight: 400;
    }
    body .boxDown .textBox h6{
        font-size: 24px;
        width: 100%;
        line-height: 30px;
        color: var(--negro);
        margin-bottom: 10px;
        margin-left: 0;
    }
    body .boxDown .textBox ol .boxResaltado{
        width: 100%;
        color: var(--negro);
    }
    body .boxDown .textBox ol .boxResaltado p{
        font-size: 14px;
    } 
    body .boxDown .textBox .lineProduct .box-product{
        display: grid;
    }
    body .boxDown .textBox .boxPeso{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
    body .boxDown .textBox .box{
        margin-top: 12px;
    }
    body .boxDown .textBox .top{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(2, 1fr);
        justify-content: center;
    }
    body .boxDown .textBox .top .box-product{
        display: grid;
        justify-content: center;
    }
    body .boxDown .textBox .lineProductTOP{
        display: block;
    }
    body .boxDown .textBox .lineProductTOP .box-product{
        display: grid;
        justify-content: center;
        
    }
    html footer .boxFooter{
        width: 100%;
    }
    
  }
a{
    text-decoration: none;
    color: var(--celeste);
}
h3 a:hover{
    text-decoration: underline;
}
.rebaja{
    color: var(--rojoOscuro);
    opacity: 50%;
    text-decoration: line-through;
    margin-left: 5px;
}
ol{
    list-style: none;
    margin-top: 25px;
}
.logo{
    width: 90px;
    height: 90px;
    border-radius: 50%;
}
section{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
}
/* logo */
header .logo{
    align-items: center;
    justify-content: center;
    display: flex;
    user-select: none;
}
header .boxLogo{
    width: 60px;
    height: 60px;
    box-shadow: inset 0px 1px 7px #0000002a;
    display: flex;
    align-items: center;
    border-radius: 20px;
    justify-content: start;
}
header .boxLogo p{
    color: var(--grisOscuro);
    font-family: var(--fuente);
    font-weight: 600;
    border: 1px solid var(--grisClaro);
    padding: 20px 20px 20px 70px;
    border-radius: 20px;
}
header ul{
    position: relative;
    display: flex;
    margin-right: 50px;
}
header ul li{
    list-style: none;
}
header ul li span{
    transition: .2s;
    color: var(--blanco);
    font-size: 12px;
    margin-left: 8px;
}
header ul li a{
    display: inline-flex;
    color: var(--blanco);
    letter-spacing: .7px;
    margin-left: 40px;
    padding-bottom: 5px;
    font-weight: 600;
    font-family: var(--fuente);
    text-decoration: none;
    transition: .5s;
    align-items: center;
}
header ul li a:hover span{
    transform: rotateZ(180deg);
}
                            /* Box Categorias */
header ul .contenedorCategorias{
    display: none;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
    height: auto;
    width: auto;
    position: absolute;
    top: 25px;
    left: -15%;
    padding: 10px 30px;
    border-radius: 10px;
    border: 1px solid var(--blancoTransparente);
    backdrop-filter: blur(30px);
    z-index: 1;
    transition: .3s;
}
header ul .contenedorCategorias1{
    display: none;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
    height: auto;
    width: auto;
    position: absolute;
    top: 25px;
    left: 25%;
    padding: 10px 30px;
    border-radius: 10px;
    border: 1px solid var(--blancoTransparente);
    backdrop-filter: blur(30px);
    z-index: 1;
    transition: .3s;
}
header ul .contenedorCategorias2{
    display: none;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
    height: auto;
    width: auto;
    position: absolute;
    top: 25px;
    left: 50%;
    padding: 10px 30px;
    border-radius: 10px;
    border: 1px solid var(--blancoTransparente);
    backdrop-filter: blur(30px);
    z-index: 1;
    transition: .3s;
}
header ul .contenedorCategorias.active{
    display: flex;
}
header ul .contenedorCategorias1.active{
    display: flex;
}
header ul .contenedorCategorias2.active{
    display: flex;
}
header ul .contenedorCategorias .boxTitle{
    display: grid;
    justify-content: center;
    align-items: center;
}
header ul .contenedorCategorias1 .boxTitle{
    display: grid;
    justify-content: center;
    align-items: center;
}
header ul .contenedorCategorias2 .boxTitle{
    display: grid;
    justify-content: center;
    align-items: center;
}
header ul .contenedorCategorias .boxTitle h6{
    color: var(--negro);
    font-family: var(--fuente);
    font-size: 20px;
    font-weight: 900;
}
header ul .contenedorCategorias1 .boxTitle h6{
    color: var(--negro);
    font-family: var(--fuente);
    font-size: 20px;
    font-weight: 900;
}
header ul .contenedorCategorias2 .boxTitle h6{
    color: var(--negro);
    font-family: var(--fuente);
    font-size: 20px;
    font-weight: 900;
}
header ul .contenedorCategorias .boxCategorias{
    display: grid;
    grid-row: 2/7;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
}
header ul .contenedorCategorias1 .boxCategorias{
    display: grid;
    grid-row: 2/7;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
}
header ul .contenedorCategorias2 .boxCategorias{
    display: grid;
    grid-row: 2/7;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
}
header ul .boxCategorias a{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 15px;
    padding: 5px 8px;
    border-radius: 5px;
    background-color: var(--blancoTransparente);
    color: var(--negro);
    font-family: var(--fuente);
    font-size: 13px;
    font-weight: 900;
    transition: .2s;
}
header ul .boxCategorias a:hover{
    color: var(--negroOscuro);
    transform: translateY(-1px);
}
.content{
    position: relative;
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.content .textBox{
    position: relative;
    max-width: 600px;
    margin: 100px;
}
.content .textBox h1{
    font-size: 50px;
    line-height: 70px;
    font-weight: 600;
    font-family: var(--fuente);
    color: var(--negroOscuro);
}
.content .textBox p{
    font-family: var(--fuente);
    font-weight: 600;
    color: var(--negro);
}
.content .textBox .leerMas{
    color: var(--blancoTotal);
    padding: 7px 25px;
    background-color: var(--celeste);
    border-radius: 40px;
    font-family: var(--fuente);
    font-weight: 600;
    font-size: 1em;
    letter-spacing: .5px;
    transition: .2s;
}.content .textBox a .leerMas:hover{
    background-color: var(--celesteHover);
}
.content .textBox .card .contenedor{
    display: flex;
    align-items: center;
}
/* Cluster */
.cluster{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    margin-top: 50px;
}
.cluster .card{
    width: 300px;
    height: 55px;
    display: flex;
    align-items: center;
    position: relative;
    border: 1px solid var(--grisClaro);
    border-radius: 10px;
    margin: 5px;
    transition: .3s;
    overflow: hidden;
}
.cluster .card:hover{
    width: 100%;
}
.cluster .card:hover .boxText{
    left: 5%;
    width: 80%;
    color: var(--negroOscuro);
}
.cluster .card:hover img{
    transform: translateX(-100px);
}
.cluster .card .boxText{
    position: absolute;
    width: 80%;
    left: 5%;
    transition: .3s;
    color: var(--negro);
}
.cluster .card .boxText h4{
    width: 100%;
    font-size: 12px;
    font-family: var(--fuente);
    font-weight: 900;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.cluster .card span{
    position: absolute;
    right: 8%;
    color: var(--negro);
}
/* Product */
.box-product{
    display: inline-block;
    width: 300px;
    height: auto;
    margin: auto;
    z-index: 0;
}
.box-product .product{
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
    width: 320px;
    height: 90px;
    margin: 5px;
    align-items: center;
    background-color: var(--blancoTotal);
    border-radius: 12px;
}
.box-product .product .box-img{
    position: absolute;
    display: flex;
    padding-left: 10px;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.box-product .product .box-img img{
    border-radius: 8px;
    padding-left: 3px;
    transition: .3s ease-in-out;
    width: 80px;
}
.box-product .product .box-text{
    position: absolute;
    top: 20%;
    width: 182px;
    padding-left: 9px;
    grid-column: 2/5;
    font-family: var(--fuente);
    transition: .2s;
    height: 20px;
    position: absolute;
    left: 8%;
}
.box-product .product .box-text .nombre{
    font-size: 15px;
    font-weight: 800;
    color: var(--negroOscuro);
    width: 110%;
    margin-left: 5px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.box-product .product .amazon{
    position: absolute;
    bottom: 0;
    right: 0;
    height: 20px;
    display: flex;
    align-items: center;
    border-top-left-radius: 10px;
    border-top: 1px solid var(--grisClaro);
    border-left: 1px solid var(--grisClaro);
    padding: 3px 38px;
}
.box-product .product .amazon:hover{
    background-color: var(--grisTransparente);
}
.box-product .product .amazon p{
    font-size: 12px;
    font-family: var(--fuente);
    font-weight: 900;
    color: var(--gris);
}
.box-product .product .box-text .boxPrecio{
    display: flex;
    align-items: center;
    margin-top: 3px;
}
.box-product .product .box-text .boxPrecio div{
    display: flex;
    justify-content: start;
    align-items: center;
}
.box-product .product .box-text p{
    font-size: 14px;
    font-weight: 800;
    color: var(--gris);
}
.box-product .product .box-text div .precio p{
    color: var(--grisOscuro);
    font-size: 14px;
    padding: 2px 5px;
    border-radius: 5px;
}
.box-product .product .box-text div .kg{
    border: 1px solid var(--grisClaro);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    border-radius: 5px;
    margin-left: 5px;
}
.box-product .product .box-text div .kg p{
    color: var(--gris);
    font-size: 12px;
    padding: 5px;
}
/* Different */
.box-product #different{
    background-color: var(--azulHover);
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box-product #different:hover{
    transform: none;
}
.box-product #different .nombre{
    font-size: 14px;
    font-weight: 400;
    font-family: var(--fuente);
    color: var(--blanco);
}
.imgBox{
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
                                        /* Line Product */
.lineProduct{
    display: flex;
    margin: 20px 0px 15px 0px;
}
.lineProduct .box-product{
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
}
.lineProduct .box-product .product{
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
    width: 320px;
    height: 100px;
    margin: 5px;
    align-items: center;
    background-color: var(--blancoTotal);
    border-radius: 12px;
    transition: .3s all;
    border: 1px solid var(--grisClaro);
}
.lineProduct .box-product .product .box-text .boxPrecio{
    display: flex;
    margin-top: 0;
}
.lineProduct .box-product .product .box-text .boxPrecio div{
    display: flex;
    justify-content: start;
    align-items: center;
    height: 18px;
}
.lineProduct .box-product .product .box-text{
    height: auto;
    position: absolute;
    left: 8%;
}
.lineProduct .box-product .product .box-text div .kg{
    border: 1px solid var(--grisClaro);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 21px;
    margin-top: 0px;
    margin-left: 5px;
    border-radius: 5px;
}
                                        /* top */

.top .box-product .product .box-text .boxPrecio{
    display: flex;
    margin-top: 0;
}
.top .box-product .product .box-text .boxPrecio div{
    display: flex;
    justify-content: start;
    align-items: center;
    height: 18px;
}
.top .box-product .product .box-text{
    height: auto;
}
.top .box-product .product .box-text div .kg{
    border: 1px solid var(--grisClaro);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 21px;
    margin-top: 0px;
    margin-left: 5px;
    border-radius: 5px;
}
                            /* LineProductTOP */
.lineProductTOP .box-product .product .box-text .boxPrecio{
    display: flex;
    margin-top: 0;
}
.box-product .amazon a{
    font-size: 12px;
    color: var(--gris);
    font-weight: 900;
}
.lineProductTOP .box-product .product .box-text .boxPrecio div{
    display: flex;
    justify-content: start;
    align-items: center;
    height: 18px;
}
.lineProductTOP .box-product .product .box-text{
    height: auto;
}
.lineProductTOP .box-product .product .box-text div .kg{
    border: 1px solid var(--grisClaro);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 21px;
    margin-top: 0px;
    margin-left: 5px;
    border-radius: 5px;
}

                            /* BoxPeso */
.boxPeso{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.boxPeso .box{
    position: relative;
    display: grid;
    grid-template-columns: 35% 45% 20%;
    grid-template-rows: 100%;
    align-items: center;
    border: 1px solid var(--grisClaro);
    border-radius: 10px;
    width: 150px;
    height: 55px;
    padding: 0px 4px 0px 10px;
    margin: auto;
}
.boxPeso .box:hover span{
    transform: translateX(2px);
}
.boxPeso .box div{
    display: flex;
    align-items: center;
    justify-content: center;
}
.boxPeso .box .num{
    color: var(--gris);
    font-weight: 600;
    font-size: 15px;
    transition: .2s;
}
.boxPeso .box:hover .num{
    color: var(--grisOscuro);
}
.boxPeso .box span{
    color: var(--gris);
    transition: .2s;
}

/* Line product */
.lineProduct .imgBox{
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
                                /* Line product TOP */
.lineProductTOP{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-content: center;
}
.lineProductTOP .box-product{
    display: contents;
}
.lineProductTOP .box-product .product{
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
    width: 320px;
    height: 100px;
    margin: 5px;
    align-items: center;
    background-color: var(--blancoTotal);
    border-radius: 12px;
    transition: .3s all;
    border: 1px solid var(--grisClaro);
}
.lineProductTOP .box-product .product:hover{
    transform: translateY(-3px);
}
                                    /* TOP */
.top{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
}
.top .box-product h5{
    font-size: 17px;
    margin: 10px;
    text-align: center;
    color: var(--negro);
}

.top .box-product .product span p{
    font-size: 13px;
    font-weight: 900;
    color: var(--blanco);
}
.top .box-product .product{
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
    width: 320px;
    height: 100px;
    margin: 5px;
    align-items: center;
    background-color: var(--blancoTotal);
    border-radius: 12px;
    transition: .3s all;
    border: 1px solid var(--grisClaro);
}
.top .box-product .product:hover{
    transform: translateX(-5px);
}
.circle{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--celeste);
    clip-path: circle(600px at right 100px);
}

/* Blog */
.boxDown{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 100%;
    height: auto;
    margin-top: -50px;
}
.boxDown .textBox{
    grid-column: 2/5;
    font-family: var(--fuenteText);
    line-height: 28px;
    display: block;
}
.boxDown .textBox h2{
    font-size: 36px;
    width: 70%;
    line-height: 40px;
    margin-left: -60px;
    color: var(--negro);
    margin-bottom: 10px;
}
.boxDown .textBox h3{
    font-size: 24px;
    width: 70%;
    line-height: 30px;
    margin-left: -20px;
    color: var(--grisOscuro);
    margin-bottom: 10px;
}
.boxDown .textBox li h4{
    font-size: 19px;
    width: 70%;
    line-height: 30px;
    margin-left: -15px;
    color: var(--grisOscuro);
    margin-top: 10px;
}
.boxDown .textBox h6{
    font-size: 24px;
    width: 70%;
    line-height: 30px;
    margin-left: -20px;
    color: var(--negroOscuro);
    margin-bottom: 10px;
}
.boxDown .textBox p{
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 0;
    color: var(--gris);
}
.boxDown .textBox ul{
    width: 80%;
    margin: auto;
    color: var(--gris);
}
.boxResaltado{
    width: 80%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--celesteTransparente);
    padding: 10px 20px;
    margin: auto;
    margin-top: 10px;
    border-radius: 10px;
}
.boxResaltado div{
    text-align: center;
}
            /* FOOTER */
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--azul);
    width: 100%;
    height: auto;
    padding: 50px;
}
footer .boxFooter{
    width: 60%;
}
footer .boxFooter a{
    font-family: var(--fuente);
    font-size: 15px;
    font-weight: 100;
    color: var(--grisClaro);
}
footer .boxFooter p{
    color: var(--grisClaro);
    font-family: var(--fuente);
    font-size: 15px;
    font-weight: 100;
    color: var(--grisClaro);
}